.editorContainer {
    // width:Calc(100% - 25px)!important;
    width:100%;
    margin-bottom:-17px !important;
}

.editorTextArea{
    // margin-top: -40px !important;
    // background-color:#FFFFFF !important;
    // border-top: 1px solid lightgrey;
    // border-right: 1px solid lightgrey;
    // border-left: 1px solid lightgrey;
    // padding-top: 5px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.7em 0 0.7em 0 !important;
    top: -0.25em;
  }