



<div *ngIf="noOfReplies != 0 && replies.length == 0" class="flexRowCenter">
        <mat-progress-spinner mode="indeterminate" diameter="30"></mat-progress-spinner>
</div>

<div *ngFor="let reply of replies;let replyIndex = index" style="margin-top:5px">
    <div class="flexRow" >
        <div > 
            <div *ngIf="!reply.authorPhotoURL"   >
                <img class="commentAvatar commentAvatarSmall" 
                    src="https://i.imgur.com/Gakh0MN.png" >
            </div>
            <div *ngIf="reply.authorPhotoURL">
                    <img  class="commentAvatar commentAvatarSmall"  
                    [src]="reply.authorPhotoURL" > 
            </div>
        </div>
   
        <div class="rightSide">
            <div class="flexRow" style="margin-top:5px;">
                <div>
                    <strong>{{reply.author}}</strong>
                </div>
                <div style="color:gray;margin:0px 2px;">
                   To: {{reply.replyTo}}
                </div>
                <span style="margin:0px 2px;">&middot; </span>
                
                <div style="color:gray">
                    <span *ngIf="!reply.localTime" >{{reply.timeStamp.seconds * 1000 | timeAgo}} </span>
                    <span *ngIf="reply.localTime" >{{reply.localTime | timeAgo }} </span>  
                    <span *ngIf="reply.updatedAt" >&middot; edited </span> 
                </div>
               
            </div>
            <div *ngIf="!editReplyFlag[replyIndex]" style="margin-top:5px" >
                <div class="innerDiv" [innerHtml]="reply.replyBodyHtml"></div>
            </div>
            <div *ngIf="editReplyFlag[replyIndex]" style="margin-top:5px" >
                <app-comment-input 
                    (repValueChange)="repValueChange($event)"
                    [initData]="updateReplyBody"
                    [placeholder]="'Add a reply...'"
                    [isFor]="'rep'">
                </app-comment-input>

                <div class="commentButton" >
                    <button mat-raised-button color="primary" [disabled]="disableUpdateReplyButton"
                        (click)="updateReply(replyIndex)" >update</button>
                    <button mat-raised-button color="primary" [disabled]="disableUpdateReplyButton"  style="margin-left:10px"
                        (click)="cancelUpdateReply(replyIndex)" >cancel</button>
                </div>
            </div>
            <div class="flexRowSpcBet">
                <div class="flexRow">
                    <!-- like buttons -->
                    <div style="margin-right:10px">
                        <span style="color:gray; font-size:16px">{{reply.replyLikes}}</span>
                        <!-- <span style="color:gray">{{reply.replyLikes}}</span> -->
                        <button *ngIf="reply.userLiked ; else notLikedReply; "  (click)="(unLikeReplyClicked( replyIndex))"  mat-icon-button class="small">
                            <mat-icon color="primary">thumb_up_alt</mat-icon>
                        </button> 
                        <ng-template  #notLikedReply >
                            <button  (click)="(likeReplyClicked( replyIndex))"  mat-icon-button class="small">
                            <mat-icon >thumb_up_alt</mat-icon>
                            </button> 
                        </ng-template>
                    
                    </div>
                    <!-- reply buttons -->
                    <div>
                        <span style="color:gray; font-size:16px">{{reply.noOfReplies}}</span>
                        <button *ngIf="reply.docId != replyToReplyUid" (click)="replyToReplyClicked(reply.docId)"   mat-icon-button class="small">
                            <mat-icon >reply</mat-icon>
                        </button>
                        <button *ngIf="reply.docId == replyToReplyUid" (click)="replyToReplyClicked(false)"   mat-icon-button class="small">
                            <mat-icon >reply</mat-icon>
                        </button>
                    </div>
                    

                </div>
                <!-- delete button -->
                <div *ngIf="_user">
                    <div *ngIf="reply.authorId == _user.uid" >
                        <div *ngIf="deletingFlag[replyIndex] !== true" class="flexRow">
                            <div (click)="editReply(replyIndex)" style="cursor:pointer;color:gray">Edit</div>
                            <div (click)="deleteReply( replyIndex)" style="cursor:pointer;margin-left:10px;color:gray">Delete</div>
                        </div>
                        <div *ngIf="deletingFlag[replyIndex] === true">
                            Deleting...
                        </div>
                    </div>
                    
                </div>
            
            </div>

            <div *ngIf="reply.docId === replyToReplyUid">
                    <div class="flexRow">
                        <div > 
                            <div *ngIf="!_user">
                                <img class="commentAvatar commentAvatarSmall" 
                                    src="https://i.imgur.com/Gakh0MN.png" >
                            </div>
                            <div *ngIf="_user">
                                    <img *ngIf="_user.photoURL"  class="commentAvatar commentAvatarSmall" 
                                    [src]="_user.photoURL" ghostImg> 
                            </div>
                        </div>

                        <div class="rightSide">
                            <div >
                                <app-comment-input 
                                    (repToRepValueChange)="repToRepValueChange($event)"
                                    [placeholder]="'Add a reply...'"
                                    [isFor]="'repToRep'">

                                </app-comment-input>
        
                                    <div class="commentButton" >
                                    <button mat-raised-button color="primary" [disabled]="disableReplyToReplyButton"
                                        (click)="addReplyToReplyBody(replyIndex)" >Reply</button>
                                    <button mat-raised-button color="primary" [disabled]="disableReplyToReplyButton" style="margin-left:10px"
                                        (click)="cancelReplyToReply()" >cancel</button>
                                    </div>
                            </div>


                            
                            

                        </div>

                    </div>
                  </div>

                  <!-- <app-replies-to-reply-list>
                                
                    </app-replies-to-reply-list> -->

                    <app-replies-to-reply-list *ngIf="reply.docId"
                        [replyId]="reply.docId"
                        [replyIndex]="replyIndex"
                        [commentDocUid]="commentDocUid"
                        [commentId]="commentId"
                        [noOfReplies]="reply.noOfReplies"
                        (noOfRepliesForReplyChanged)="noOfRepliesForReplyChangedEvent($event)"
                    >

                    </app-replies-to-reply-list>

                    <!-- <div *ngIf="nestedLevel < 3">
                        <app-replies-list *ngIf="reply.docId" 
                            [replyId]="reply.docId"
                            [replyIndex]="replyIndex"
                            [commentDocUid]="commentDocUid"
                            [noOfReplies]="reply.noOfReplies"
                            (noOfRepliesForReplyChanged)="noOfRepliesForReplyChangedEvent($event)"
                            [nestedLevel]="nestedLevel"
                            [commentId]="commentId">
                            
                        </app-replies-list>
                    </div> -->

                


        </div>
    </div>

</div>

<div *ngIf="loadMoreReplies == true" style="margin-top:5px">
    <div >
        <button mat-stroked-button  (click)="showMoreReplies()">
            Show more replies
        </button>
    </div>
</div>
<div *ngIf="loadMoreReplies == 'loading'" class="flexRowCenter">
    <mat-progress-spinner mode="indeterminate" diameter="30"></mat-progress-spinner>
</div>

